@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400');

$pq-black: #000000;
$pq-white: #ffffff;

$pq-font-droidSerif: 'Droid Serif', serif;
$pq-font-sourceSansPro: 'Source Sans Pro', sans-serif;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: $pq-font-droidSerif;

// Links
//
// Style anchor elements.

$link-hover-decoration: none;

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/type';

// CUSTOM MIXINS

@mixin colored-link($font-color: #000, $hover-font-color: #000) {
  color: $font-color;

  &:hover,
  &:focus {
    color: $hover-font-color;
    border-color: $hover-font-color;
  }
}

@mixin pq-btn {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-flex;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid;

  @include button-size($btn-padding-y, $btn-padding-x, $font-size-h5, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: 0.65;

    @include box-shadow(none);
  }

  &:active,
  &.active {
    background-image: none;

    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }
}

// TAGS OVERWIRTE

body {
  background: {
    size: cover;
    repeat: no-repeat;
  }
  transition: background-image 0.6s ease-in-out;
}

// APP

.App {
  &-header, &-footer {
    color: $pq-white;
    width: 100%;
    background-color: rgba($pq-black, .5);
  }

  &-header {
    padding: 5px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(sm) {
      padding: 10px 15px;
    }

    .UnsplashCredits {
      // display: none;

      // @include media-breakpoint-up(md) {
      //   display: block;
      // }

      &-links {
        margin-bottom: 0;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
        color: $headings-color;
        font-size: $font-size-xs;

        @include media-breakpoint-up(md) {
          font-size: $font-size-h6;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: $headings-margin-bottom;
          font-size: $font-size-h5;
        }
      }
    }
  }

  &-downloadPhoto,
  &-github {
    display: none;

    @include media-breakpoint-up(lg) {
      display: inline;
    }
  }

  &-getQuote.pq-btn {
    margin-left: auto;

    @include media-breakpoint-down(sm) {
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
    }

    @include media-breakpoint-up(md) {
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      margin-left: auto;
      margin-right: 15px;
    }
  }

  &-authors {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      font-size: $font-size-h6;
    }

    @include media-breakpoint-up(lg) {
      font-size: $font-size-h5;
      margin-right: 15px;
    }
  }

  &-footer {
    position: fixed;
    background-color: rgba($pq-black, .5);
    bottom: 0;
    right: 0;

    .Quote {
      margin: 0;

      &-text {
        color: $headings-color;
        margin-bottom: 0;
        font: {
          size: $font-size-base;
          family: $headings-font-family;
          weight: $headings-font-weight;
        }

        @include media-breakpoint-up(md) {
          font-size: $font-size-h2;
        }
      }

      &-footer {
        line-height: $headings-line-height;
        color: $headings-color;
        font: {
          family: $pq-font-sourceSansPro;
          size: $font-size-sm;
          weight: $headings-font-weight;
        }
        color: $pq-white;

        @include media-breakpoint-up(md) {
          font: {
            weight: 300;
            size: $font-size-h3;
          }
        }
      }
    }

  }
}

// BUTTONS 

.pq-btn {
  @include pq-btn;

  &.white-outline {
    @include button-outline-variant($pq-white, $pq-black);
  }

  // Sizes

  &-lg {
    // line-height: ensure even-numbered height of button next to large input
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-h5, $btn-border-radius-lg);
  }

  &-sm {
    // line-height: ensure proper height of button next to small input
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
  }
}

// LINKS

.pq-link {
  color: $link-color;
  border-bottom: {
    width: 1px;
    style: solid;
    color: transparent;
  }

  &:active,
  &.active {
    font-weight: $font-weight-bold;
    border: {
      color: $link-hover-color;
    }
  }

  @include hover-focus {
    color: $link-hover-color;
    border: {
      color: $link-hover-color;
    }
  }

  &.white {
    @include colored-link($pq-white, $pq-white);
  }
}
